- if @menu.background_img.attached?
  .col-md-8{style: "background-image:url(#{url_for(@menu.background_img)})"}
    = render partial: 'show_table'
- else 
  .col-md-8
    = render partial: 'show_table'
