%nav.navbar.navbar-default
  .container
    .navbar-header
      %h1=app_name
      = link_to 'Category', categories_path , class: 'navbar-brand'
      = link_to 'Product Management', products_path, class: 'navbar-brand'
    %ul.nav.navbar-nav.navbar-right
      %li= link_to 'Sign Out', destroy_user_session_path, method: :delete
  .container
