%link#bootstrap-css{:href => "//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css", :rel => "stylesheet"}/
%script{:src => "//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"}
%script{:src => "//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"}
.cardborder-success.mb-3
  .card-header
    %h4.bold
      Date: 
      = Time.current.localtime
  .card-body
    = simple_form_for :product, html: { multipart: true} do |f|
      .container
      .row
        .col-lg-4
          %h4 Products
          %select#sbOne{:multiple => "multiple"}
            - @products.each do |product|
              %ul
                %li 
                  %option{:value => "#{product.id}"}= product.name
          %div
            %input#right{:type => "button", :value => ">"}
            %input#rightall{:type => "button", :value => ">>"}
        .col-lg-4 
          %h4 Order
          %select#sbTwo{:multiple => "multiple"}
          %div
            %input#left{:type => "button", :value => "<"}
            %input#leftall{:type => "button", :value => "<<"}
      %hr
        = f.button :submit     
