.cardborder-success.mb-3
  .card-header
    %h4.bold
      Date: 
      = Time.current.strftime("%d/%m/%Y")
  .card-body
    = simple_form_for :product, url: customer_orders_path, method: :post, html: { multipart: true} do |f|
      %h4 Products
      = f.collection_check_boxes :options, @products.pluck(:id, :name), :first, :last
      %p
      = f.button :submit     
