.cardborder-success.mb-3
  .card-header
    %h4.bold
      Date: 
      = Time.current.strftime("%d/%m/%Y")
  .card-body
    = simple_form_for :product, html: { multipart: true} do |f|
      .container-fluid
      .row
        .col-lg-4
          %h4 Products
          %select#sbOne{ multiple: "multiple", style: "font-size: 14px; width: 250px; height: 120px" }
            - @products.each do |product|
              %ul
                %li 
                  %option{value: "#{product.id}"}= product.name
          %div
            %input#right{type: "button", value: ">"}
            %input#rightall{type: "button", value: ">>"}
        .col-lg-4 
          %h4 Order
          %select#sbTwo{ multiple: "multiple", style: "font-size: 14px; width: 250px; height: 120px" }
          %div
            %input#left{type: "button", value: "<"}
            %input#leftall{type: "button", value: "<<"}
      %hr
        = f.button :submit     
